
/*=========================================== HOME CONTENT 1 ===================================================*/
.home-content-1{
    /* background-color: #4f3ab7; */
    height: 80vh;
    margin: 0 5vw;
    border-radius: 10px ;
    display: flex;
}
.home-content-1 .left-content-1{
    /* background-color: blueviolet; */
    width: 50%;
    padding: auto 0;
    display: flex;
}
.left-container{
    margin: 0;

}
.homeTitle{
    /* display: inline-block; */
    /* background-color: red; */
    /* margin: 0; */
    font-size: 80px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.homeDesc{
    /* margin: 0; */
    /* display: inline-block; */
    /* background-color: yellow; */
}
.homeButton{
    display: inline-block;
}

.homeButton a{
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    background-color: orange;
    
}
#homeButton-2 a{
    background-color: #1a73e8;
}
.home-content-1 .right-content-1{
    /* background-color: yellowgreen; */
    width: 50%;
}
.right-content-1 img{
    text-align: center;
    height: 450px;
    /* background-color: red; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}