{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'login/css/style.css' %}">
{% endblock css %}

{% block meta %}
<title>LOGIN</title>
{% endblock meta %}


{% block content %}
<br>
<br>
<br>
<br>

<div class="login-content">
  <div class="login-container">
    <h1 id="judul">LOGIN</h1>
    <form method="post">
      {% csrf_token %}
      <div class="login-form-container">
        {% if pesan != '' %}
        <div class="pesan-login"> {{pesan}} </div>
        {% endif %}
        <label class="login-form-element" for="username">Username</label>
        <input class="login-form-element" type="text" required name="username">
        <label class="login-form-element" for="password">password</label>
        <input class="login-form-element" type="password" required name="password">
        <input class="login-form-element" id="login-submit-button" type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>

{% endblock content %}