{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'register/css/style.css' %}">
{% endblock css %}

{% block meta %}
<title>REGISTER</title>
{% endblock meta %}

{% block content %}

{% if user.is_authenticated %}
<meta http-equiv="refresh" content="0; URL=/" />
{% else %}
<br>
<br>
<br>
<br>

<div class="register-content">
    <div class="register-container">
        <h1 id="judul">SIGNUP</h1>
        <form method="post">
            {% csrf_token %}
            <div class="register-form-container">
                {% if pesan != '' %}
                <div class="pesan-register"style="background-color: red; display: inline-block; "> {{pesan}} </div>
                {% endif %}
                <label class="register-form-element" for="username">Username</label>
                <input class="register-form-element" type="text" required name="username">
                <label class="register-form-element" for="email">Email</label></td>
                <input class="register-form-element" type="text" required name="email">
                <label class="register-form-element" for="password">Password</label>
                <input class="register-form-element"type="password" required name="password">
                <label class="register-form-element" for="confirmPass">Confirm Password</label>
                <input class="register-form-element" type="password" required name="confirmPass">
                <input class="register-form-element" id="register-submit-button" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

{% endif %}
{% endblock content %}