#judul{
    text-align: center;
}

.login-content{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
    /* background-color: red; */
}
.login-content .login-container{
    background-color: orange; 
    display: inline-block; 
    padding: 10px 30px; 
    padding-bottom: 30px;
    border-radius: 5px;
}

.login-form-container{
    display: flex;
    flex-direction: column;
}

.login-form-element{
    margin-top: 5px;
}

.login-form-container input{
    padding: 5px;
    height: 30px;
    width: 500px;
}
#login-submit-button{
    width: 515px;
}
.pesan-login{
    background-color: red;
    color: white; 
    display: inline-block; 
    padding: 10px 0 ;  
    text-align: center;
}