.postdetail-content{
    display: flex;
    justify-content: center;
    /* background-color: red; */
}

.postdetail-container{
    display: flex;
    min-width: 50%;
    flex-direction: column;
    /* background-color: blue; */
    padding: 10px;
    border: 1px solid #b8b8b8;
}

.post-container{
    /* background-color: yellow; */
    border-radius: 5px;
    border: 2px solid #2499dd;
    padding: 10px;
}
.post-title{
    border-bottom:1px solid #2499dd ;
    margin-bottom: 10px;
}
.post-title h1{
    margin: 0;
}
.post-creator, .post-time{
    display: inline-block;
    font-size: small;
}
.post-time{
    float: right;
}

.outter-form-container{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: orange;
    padding: 10px;
    margin-top: 10px;
}
.comment-container{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid orange;
    padding: 10px;
    /* background-color: green; */
}
.comment-box{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid red;
    margin-bottom: 5px;
}
.comment-box h2{
    margin: 0;
    border-bottom: red solid 1px;
}
.comment-waktu{
    font-size: x-small;
}