
.blogpost-content{
    /* background-color: aqua; */
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}
.blogpost-container{
    display: inline-block;
    min-width: 50%;
    max-width: 50%;
    /* background-color: red; */
    border: 0.5px solid #b8b8b8;
    padding: 10px;
}
.post-count{
    display: inline-block;
    /* background-color: red; */
    margin: 0;
}
.input-box{
    display: inline-block;
    float: right;
}
.post-list-container{
    
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-container{
    border-top: 0.5px solid #b8b8b8;
    /* background-color: blueviolet; */
    margin-top: 10px;
    width: 100%;
    padding: 10px;
}

.post-container a{
    text-decoration: none;
    color: #2499dd;
    font-size: 30px;
}

.post-creator{
    display: inline-block;
}
.post-time{
    display: inline-block;
    float: right;
}