{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'blogpost/css/style.css' %}">
{% endblock css %}

{% block meta %}
<title>BLOGPOST</title>
{% endblock meta %}

{% block content %}
    <div class="blogpost-content">
        <div class="blogpost-container">
            <br>
            <br>
            <br>
            <h1 class="title">ALL POST</h1>
            <p class="post-count" style="display: inline-block;">Total Post: {{postcount}}</p>
            <div class="input-box" >
                <input type="text" name="" id="pencarian" placeholder="Search Post">
            </div>
            <div class="post-list-container">
                {% for post in allpost %}
                <div class="post-container">
                    <a href="/blogpost/postdetail/{{post.id}}">
                        <div class="post-title">
                            {{post.judul}}
                        </div>
                    </a>
                    <div class="post-text">
                        <p>
                            {{post.post| slice:"100"}}...
                        </p>
                    </div>
                    <div class="post-info">
                        <div class="post-creator">-{{post.nama}}</div>
                        <div class="post-time">{{post.waktu}}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

<script src="{% static 'blogpost/js/blogpost.js' %}"></script>
{% endblock content %}

