{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'register/css/style.css' %}">
{% endblock css %}

{% block meta %}
<title>REGISTER</title>
{% endblock meta %}

{% block content %}

<br>
<br>
<br>
<br>

<div class="register-content">
    <div class="register-container">
        <h1 id="judul">CREATE NEW POST</h1>
        <form method="post">
            {% csrf_token %}
            <div class="register-form-container">
                <label class="register-form-element" for="title">Title</label>
                <input class="register-form-element" type="text" required name="title">
                <label class="register-form-element" for="textpost">Post</label></td>
                <textarea class="register-form-element" name="textpost" rows="50" cols="60">
                    Hello guys I wanna tell you a story ......
                </textarea>
                <input class="register-form-element" id="register-submit-button" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

{% endblock content %}