{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'mypost/css/style.css' %}">
{% endblock css %}

{% block meta %}
<title>{{user.get_username|upper}} - POST LIST</title>
{% endblock meta %}

{% block content %}
    <div class="mypost-content">
        <div class="mypost-container">
            <br>
            <br>
            <br>
            <h1 class="title">{{user.get_username|upper}} POST LIST</h1>
            <p class="post-count" style="display: inline-block;">Total Post: {{postcount}}</p>
            <div class="input-box" >
                <a href="/blogpost/createpost" style="text-decoration:none; color:white; background-color:#1a73e8; border-radius:5px; padding: 5px;">CREATE POST</a>
            </div>
            <div class="post-list-container">
                {% for post in allpost %}
                <div class="post-container">
                    <a href="/blogpost/postdetail/{{post.id}}">
                        <div class="post-title">
                            {{post.judul}}
                        </div>
                    </a>
                    <div class="post-text">
                        <p>
                            {{post.post| slice:"100"}}...
                        </p>
                    </div>
                    <div class="post-info">
                        <div class="post-editor">
                            <a href="/blogpost/updatepost/{{post.id}}">UPDATE POST</a>
                        </div>
                        <div class="post-editor" id="post-editor-delete">
                            <a href="/blogpost/deletepost/{{post.id}}">DELETE POST</a>
                        </div>
                        <div class="post-time">{{post.waktu}}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}

