{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'postdetail/css/style.css' %}">
{% endblock css %}

{% block meta %}
<title>POST</title>
{% endblock meta %}

{% block content %}
<div class="postdetail-content">
    <div class="postdetail-container">
        <br>
        <br>
        <br>

        <div class="post-container">
            <div class="post-title">
                <h1 class="title">{{post.judul}}</h1>
            </div>
            <div class="post-info">
                <div class="post-creator">{{post.nama}}</div>
                <div class="post-time">{{post.waktu}}</div>
            </div>
            <div class="post-text">
                <p>{{post.post}}</p>
            </div>
        </div>

        <div class="outter-form-container">
            <form method="post" postID='{{post.id}}'>
                {% csrf_token %}
                <div class="inner-form-container">
                    {% if user.is_authenticated %}
                    {{form.nama.as_hidden}}
                    {% else %}
                    {{form.nama}}
                    {% endif %}
                    {{form.komentar}}
                    {{form.post.as_hidden}}
                    <input id="comment-submit-button" type="submit" value="Submit">
                </div>
            </form>
        </div>

        <div class="comment-container">
            {% for k in komentar %}
                    <div class="comment-box">
                        <h2>{{k.nama}}</h2>
                        <p>{{k.komentar}}</p>
                        <p class="comment-waktu">{{k.waktu}}</p>
                    </div>
            {% endfor %}    
        </div>

    </div>
</div>

<script src="{% static 'postdetail/js/postdetail.js' %}"></script>
{% endblock content %}