#judul{
    text-align: center;
}

.register-content{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.register-content .register-container{
    background-color: orange; 
    display: inline-block; 
    padding: 10px 30px; 
    padding-bottom: 30px;
    border-radius: 5px;
}

.register-form-container{
    display: flex;
    flex-direction: column;
}

.register-form-element{
    margin-top: 5px;
}

.register-form-container input{
    padding: 5px;
    height: 30px;
    width: 500px;
}
#register-submit-button{
    width: 515px;
}
.pesan-register{
    background-color: red;
    color: white; 
    display: inline-block; 
    padding: 10px 0 ;  
    text-align: center;
}