{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base/style.css' %}">
  <script src="https://kit.fontawesome.com/1364b7831e.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/excite-bike/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  {% block css %} {% endblock css %}
  {% block meta %} {% endblock meta %}
</head>

<body>
  <header>
    <div class="logo">BLOGSS</div>
    <ul class="navlist">
        <li class="navbutton">
          <a href="/" class="navbutton_content">HOME</a>
        </li>
        <li class="navbutton">
          <a href="/blogpost" class="navbutton_content">BLOG</a>
        </li>
        {% if user.is_authenticated %}
        <li class="navbutton dropdown">
          <a href="#" class="navbutton_content">MY BLOG</a>
          <div class="navdropdown">
            <a href="/blogpost/mypost">POST LIST</a>
            <a href="/blogpost/createpost">CREATE POST</a>
          </div>
        </li>
        <li class="navbutton dropdown" id="navLogin">
          <a href="#" class="navbutton_content" style="text-transform: uppercase; "><i class="fas fa-user" style="color: rgb(28, 131, 228);"></i> <span> </span> {{user.username}}</a>
          <div class="navdropdown">
            <a href="/authentication/logout" class="navProfile-button">LOGOUT</a>
          </div>
        {% else %}
        <li class="navbutton">
          <a href="/authentication/register" class="navbutton_content">REGISTER</a>
        </li>
        <li class="navbutton" id="navLogin">
          <a href="/authentication/login" class="navbutton_content">LOGIN</a>
        {% endif %}
          
        </li>
    </ul>
</header>


  {% block content %}
  {% endblock content %}
  
</body>

</html>
