{% extends 'base.html' %} {% load static %} {% block css %} 
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock css %}

{% block meta %}
<title>HOME</title>
{% endblock meta %}

{% block content %}
<br>
<br>
<br>
<br>

<div class="home-content-1">
    <div class="left-content-1">
        <div class="left-container">
            <h1 class="homeTitle"> 
                WELCOME 
                {% if user.is_authenticated %}
                 {{user.username}}
                {% else %}
                TO BLOGSS
                {% endif %}
            </h1>
            <p class="homeDesc"> BLOGSS is a blog website that create for RISTEK member registrations</p>
            <div class="homeButton-container">
                <div class="homeButton">
                    <a  href="/blogpost">READ POST</a>
                </div>
                <div class="homeButton" id="homeButton-2">
                    {% if user.is_authenticated %}
                    <a href="#">CREATE POST</a>
                    {% else %}
                    <a href="/authentication/register">REGISTER</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="right-content-1">
        <img src="{% static 'home/img/blog2.png' %}" alt="">
        
    </div>
    

</div>


<!-- <div class="button_box">
    kembali ke
<a href="http://mystory-thoriq.herokuapp.com/"><i class="fas fa-arrow-left"></i> PRA UTS</a>
</div> -->
{% endblock content %}
